	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;font-family: 'Asap', sans-serif;}
	article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
	ol,ul{list-style:none;padding:0;margin:0;}
	blockquote,q{quotes:none;}
	blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
	table{border-collapse:collapse;border-spacing:0;}
	a{text-decoration:none;}
	.txt-rt{text-align:right;}
	.txt-lt{text-align:left;}
	.txt-center{text-align:center;}
	.float-rt{float:right;}
	.float-lt{float:left;}
	.clear{clear:both;}
	.pos-relative{position:relative;}
	.pos-absolute{position:absolute;}
	.vertical-base{vertical-align:baseline;}
	.vertical-top{vertical-align:top;}
	.underline{	padding-bottom:5px;	border-bottom:1px solid #eee;margin:0 0 20px 0;}
	nav.vertical ul li{display:block;}
	nav.horizontal ul li{display: inline-block;}
	img{max-width:100%;}

/*-- Reset Code --*/
body {
    background:url("../images/coming-soon-img1.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	
}
.left {
    float: left;
	padding: 28px;
}
.left h1 {
    font-size: 32px;
	color:#FFFFFF;
	font-weight: 500;
    letter-spacing: 1px;
}
span {
    padding: 10px;
	border: 4px solid;
}
.right {
    float: right;
	padding: 28px;
	width: 13%;
}
.right ul {
    list-style-type: none;
}
.right ul li {
    display: inline;
    padding: 10px;
}
.right ul li a {
    font-size: 19px;
	padding: 0px;
	color:#FFFFFF;
	transition:0.7s;
}
.right ul li a:hover {
    color: #000000;
}
.right ul li a i {
    border: 2px solid;
    width: 20%;
    height: 41.3px;
    text-align: center;
    line-height: 43px;
    border-radius: 22px;
	background: rgba(245, 245, 220, 0.3411764705882353);
}
.clear {
	clear:both;
}
.banner-info {
    text-align: center;
}
.banner-info h3 {
    font-size: 57px;
	color:#FFFFFF;
	padding-bottom: 19px;
	font-weight: 500;
    letter-spacing: 7px;
}
.banner-info p {
    font-size: 27px;
	color:#FFFFFF;
	font-weight: normal;
    letter-spacing: 3px;
}
.counter {
    width: 60%;
    margin: 57px auto;
}
/* ------------------------- Flat Theme ------------------------- */
.dsCountDown.ds-flat {
	color: #000;
	font-size: 1em;
	background: #efefef;
}
.ds-element.ds-element-days:nth-child(1) {
    padding: 37px 30px;
}

.ds-flat .ds-element {
	float: left;
	text-align: center;
	border: 1px solid #878282;
	padding: 37px 67px;
    margin: 9px;
	background-color:rgba(21, 23, 23, 0.62);
}

.dsCountDown.ds-flat > .ds-element.ds-element-seconds {
	border-right: 1;
}

.ds-flat .ds-element-title {
	font-size: 21px;
	color: #ffffff;
}

.ds-flat .ds-element-value {
	font-size: 73px;
	color: #ffffff;
}
.agileits_newsletter{
	text-align:center;
	font-family: 'Asap', sans-serif;
}
.agileits_newsletter h2{
	font-size: 27px;
    color: #e3e6e0;
    text-transform: uppercase;
    margin-bottom: 1em;
	font-family: 'Asap', sans-serif;
}
.agileits_newsletter input[type="email"]{
	outline: none;
    padding: 15px;
    color: #212121;
    font-size: 14px;
    width:67.2%;
    float: left;
    background: #fff;
    border: none;
	font-family: 'Asap', sans-serif;
}
.agileits_newsletter input[type="submit"] {
    outline: none;
    padding: 12px 0;
    color: #ffffff;
    font-size: 19px;
    text-transform: uppercase;
    width: 28%;
    background: #ff0101;
    border: none;
    cursor: pointer;
    font-weight: 500;
}
.agileits_newsletter {
    width: 40%;
    margin: 0 auto;
}
footer {
    text-align: center;
    padding: 63px 0px;
	font-family: 'Asap', sans-serif;
	color:#FEFFFF;
	font-size: 16px;
    font-weight: 500;
    letter-spacing: 3px;
}
footer a {
	color:#76E7A7;
	transition:0.7s;
}
footer a:hover {
	color:#FC0707;
}
@media screen and (max-width: 1440px){
	.right {
    width: 14%;
}
.counter {
    width: 66%;
}
.agileits_newsletter input[type="submit"] {
    width: 27%;
}
}


@media screen and (max-width: 1366px){
	.right {
    width: 15%;
}
.counter {
    width: 70%;
}
}


@media screen and (max-width: 1280px){
	.right {
    width: 16%;
}
.counter {
    width: 74%;
}
.agileits_newsletter input[type="submit"] {
    width: 26%;
}
}


@media screen and (max-width: 1080px){
	.banner-info h3 {
    font-size: 51px;
}
	.right {
    width: 19%;
}
.counter {
    width: 88%;
}
.agileits_newsletter input[type="submit"] {
    width: 25%;
	font-size: 17px;
}
}


@media screen and (max-width: 1050px){
	.right {
    width: 20%;
}
.counter {
    width: 91%;
}
}


@media screen and (max-width: 1024px){
	.counter {
    width: 93%;
}
}


@media screen and (max-width: 991px){
	.banner-info h3 {
    font-size: 43px;
}
	.right {
    width: 21%;
}
	.counter {
    width: 96%;
}
}


@media screen and (max-width: 900px){
	.right {
    width: 23%;
}
	.counter {
    width: 100%;
}
.ds-flat .ds-element-value {
    font-size: 63px;
}
.ds-flat .ds-element {
    margin: 7px;
}
.agileits_newsletter input[type="submit"] {
    width: 27%;
}
.agileits_newsletter input[type="email"] {
    width: 64.2%;
}
}

@media screen and (max-width: 800px){
	.banner-info h3 {
    font-size: 41px;
}
.banner-info p {
    font-size: 23px;
}
.ds-flat .ds-element-value {
    font-size: 52px;
}
.ds-flat .ds-element {
    margin: 4px;
	padding: 37px 61px;
}
	.right {
    width: 26%;
}
.agileits_newsletter input[type="submit"] {
    width: 28%;
	font-size: 13px;
}
.agileits_newsletter input[type="email"] {
    padding: 11px;
}
footer {
    font-size: 14px;
}
}


@media screen and (max-width: 768px){
	.ds-flat .ds-element {
    padding: 37px 58px;
}
}
@media screen and (max-width: 736px){
	.banner-info h3 {
    font-size: 37px;
}
	.banner-info p {
    font-size: 20px;
}
	.counter{
	zoom:0.55;
    width: 79%;
	}
	.ds-flat .ds-element {
    padding: 37px 79px;
}
	.ds-flat .ds-element-value {
    font-size: 79px;
}
	.right {
    width: 28%;
}
}


@media screen and (max-width: 667px){
	.banner-info h3 {
    letter-spacing: 6px;
}
	.right {
    width: 31%;
}
.counter {
    width: 85%;
}
.agileits_newsletter {
    width: 47%;
}
footer {
    letter-spacing: 1px;
}
}


@media screen and (max-width: 640px){
	.banner-info h3 {
    letter-spacing: 4px;
}
	.right {
    width: 32%;
}
.counter {
    zoom: 0.55;
    width: 100%;
}
.ds-flat .ds-element-value {
    font-size: 47px;
}
.ds-flat .ds-element {
    padding: 37px 44px;
}
.ds-element.ds-element-days:nth-child(1) {
    padding: 37px 21px;
}
.ds-flat .ds-element-title {
    font-size: 17px;
}
}


@media screen and (max-width: 600px){
	.right {
    width: 35%;
}
.banner-info h3 {
    letter-spacing: 1px;
}
.banner-info p {
    font-size: 17px;
}
.ds-flat .ds-element-value {
    font-size: 47px;
}
.ds-flat .ds-element {
    padding: 37px 37px;
}
.agileits_newsletter h2 {
    font-size: 24px;
}
.agileits_newsletter {
    width: 51%;
}
}


@media screen and (max-width: 568px){
	.right {
    width: 37%;
}
	.ds-flat .ds-element {
    padding: 28px 37px;
}
	.ds-element.ds-element-days:nth-child(1) {
    padding: 28px 16px;
}
	.ds-flat .ds-element {
    padding: 28px 34px;
}
	.agileits_newsletter {
    width: 54%;
}
}


@media screen and (max-width: 480px){
	.right {
    width: 44%;
	padding:0px;
    padding-top: 25px;
}
.banner-info {
    padding-top: 19px;
}
	.banner-info h3 {
    font-size: 28px;
}
	.banner-info p {
    font-size: 16px;
	letter-spacing:1px;
}
.ds-flat .ds-element {
    padding: 28px 25px;
}
.ds-flat .ds-element-value {
    font-size: 37px;
}
.ds-element.ds-element-days:nth-child(1) {
    padding: 28px 13px;
}
.agileits_newsletter {
    width: 62%;
}
footer {
    letter-spacing: 0px;
}
}


@media screen and (max-width: 414px){
	.left h1 {
    font-size: 25px;
}
	.right {
    width: 44%;
}
	.right ul li a {
    font-size: 16px;
}
	.right ul li a i {
    width: 18%;
    height: 33.3px;
    line-height: 35px;
}
	.banner-info h3 {
    font-size: 28px;
}
	.banner-info p {
    font-size: 14px;
}
	.counter {
    margin: 37px auto;
	
}
	.ds-flat .ds-element-value {
    font-size: 33px;
}
	.ds-element.ds-element-days:nth-child(1) {
    padding: 28px 8px;
}
	.ds-flat .ds-element {
    padding: 28px 18px;
}
	.agileits_newsletter {
    width: 73%;
}
	footer {
    text-align: center;
    padding: 37px 0px;
}	
}


@media screen and (max-width: 384px){
	.left {
    padding-left: 3px;
}
	.right {
    width: 34%;
}
	.right ul li {
    display: inline;
    padding: 2px;
}
	.right ul li a i {
    width: 24%;
    height: 32.3px;
    line-height: 33px;
}
.ds-flat .ds-element-title {
    font-size: 14px;
}
.ds-flat .ds-element-value {
    font-size: 28px;
}
.agileits_newsletter {
    width: 79%;
}
}

@media screen and (max-width: 375px){
	.ds-element.ds-element-days:nth-child(1) {
    padding: 19px 6px;
}
	.ds-flat .ds-element {
    padding: 19px 18px;
}
	.agileits_newsletter h2 {
    font-size: 21px;
}
}


@media screen and (max-width: 320px){
	.left h1 {
    font-size: 22px;
}
	.right {
    width: 40%;
}
	.right ul li {
    display: inline;
    padding: 0px;
}
	.right ul li a i {
    width: 26%;
}
	.banner-info h3 {
    font-size: 24px;
}
	.banner-info p {
	letter-spacing:0px;	
}
	.ds-flat .ds-element {
    padding: 14px 12px;
}
	.ds-element.ds-element-days:nth-child(1) {
    padding: 14px 3px;
}
	.ds-flat .ds-element-title {
    font-size: 12px;
}
	.agileits_newsletter {
    width: 94%;
}
}