<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>contact me</title>
<!-- Bootstrap  -->
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<!-- jQuery -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12" style="margin-top:50px">
				<img th:src="@{/images/wechat.jpg}"  class="img-responsive center-block" />
			</div>
		</div>
	</div>

</body>
</html>