<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="60">
<link type="text/css" rel="stylesheet" th:href="@{/css/stylex.css}" />
<!--jQuery-->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<!--jQuery动画暂停插件-->
<script type="text/javascript" th:src="@{/js/jquery.pause.min.js}"></script>
<!--滚动效果js-->
<script type="text/javascript">
	$(function() {
		var scrtime;

		var $ul = $("#con ul");
		var liFirstHeight = $ul.find("li:first").height();//第一个li的高度
		$ul.css({
			top : "-" + liFirstHeight - 20 + "px"
		});//利用css的top属性将第一个li隐藏在列表上方	 因li的上下padding:10px所以要-20

		$("#con").hover(function() {
			$ul.pause();//暂停动画
			clearInterval(scrtime);
		}, function() {
			$ul.resume();//恢复播放动画	
			scrtime = setInterval(function scrolllist() {
				//动画形式展现第一个li
				$ul.animate({
					top : 0 + "px"
				}, 1500, function() {
					//动画完成时
					$ul.find("li:last").prependTo($ul);//将ul的最后一个剪切li插入为ul的第一个li
					liFirstHeight = $ul.find("li:first").height();//刚插入的li的高度
					$ul.css({
						top : "-" + liFirstHeight - 20 + "px"
					});//利用css的top属性将刚插入的li隐藏在列表上方  因li的上下padding:10px所以要-20					
				});
			}, 3300);

		}).trigger("mouseleave");//通过trigger("mouseleave")函数来触发hover事件的第2个函数

	});
</script>

</head>
<body>

	<div id="box_title">大家正在说</div>
	<div id="con">
		<div class="bottomcover" style="z-index: 2;"></div>
		<ul>
			<li th:each="m:${msgs}">
				<div class="div_left">
					<a href="http://www.htmleaf.com/"><img th:src="@{/images/head.jpg}"
						title="Jarvis_风"></a>
				</div>
				<div class="div_right">
					<a href="http://www.htmleaf.com/" target="_blank"><span
						th:text="${m.name}"></span></a>：<span th:text="${m.content}"></span>
					<div class="twit_item_time">
						<span
							th:text="${#dates.format(m.publishTime, 'yyyy-MM-dd HH:mm')}"></span>
					</div>
				</div>
			</li>

		</ul>
	</div>


</body>
</html>
